<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Criadouro Camaragibe</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/logoamarela.jpeg" rel="icon">
  <link href="/images/logoamarela.jpeg">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="/"><img src="/images/logoamarela.jpeg" alt="" class="img-fluid"> CRIADOURO CAMARAGIBE</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>PLANTEL</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/exibirMachosInicial">MACHOS</a></li>
              <li><a href="/exibirFemeasInicial">FÊMEAS</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto " href="/consultasCruzasInicial">CONSULTAS</a></li>
          <li><a class="nav-link scrollto" href="#contact">CONTATO</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <a href="#about" class="btn-get-started scrollto">Nossa História</a>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">O CRIADOURO</h3><br>
            <p data-aos="fade-up">Me Chamo Renan Braga, sou apaixonado pelos pássaros
              desde criança, crio curiós desde 2004, mas comecei a me
              dedicar a reprodução em meados de 2012, onde tive o prazer
              de conhecer diversos criadores e a AACC (Associação Alagoana
              de Criadores de Curiós), logo me tornei sócio e iniciei a
              participação nos torneiros estaduais, onde conquistei diversos
              títulos. Daí por diante a paixão pelo curió só aumentou.</p>
            <p>Iniciei o Criadouro Camaragibe como criador amador em 2018.
              Com resultados satisfatórios e bastante expressivos,
              além de uma grande demanda por parte dos criadores, decidi
              tornar minha criação comercial em 2020.</p>
            <p>Aprendizado, repetição, voz e apresentação, são características
              que busco reproduzir em minhas cruzas. </p>
            <p>Além da confiabilidade nos cruzamentos, levo meu trabalho muito a sério e me
              esforço bastante para garantir a saúde e o bem-estar de todas as minhas
              aves. </p>
            <p>Todo o meu plantel foi selecionado a partir de cruzas de resultados
              comprovados e de criadores comerciais. Todos os nossos galadores são
              pássaros altamente repetidores e com grande índice de aproveitamento.</p>
            <p>Contamos com uma estrutura diferenciada, com sala de reprodução
              (a 30 metros de distância dos berçários), sala para soltura das aves em
              período de troca de penas (pós temporada), sala acústica para filhotes machos,
              2 berçários (acústicos), sala das filhotas para reposição do plantel e amplo
              estacionamento.</p>
          </div>
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="/images/Renan.jpeg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                  <h3>CONHECENDO UM POUCO MAIS O CRIADOURO CAMARAGIBE</h3>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                  <h4>Estrutura:</h4>
                  <p>Atualmente contamos com 3 salas acústicas, sendo 2 berçários acústicos para fêmeas criando e 1 sala para filhotes machos, já apartados.
                    Temos uma sala exclusiva para reprodução, onde ocorre as cruzas e o choco, esse ambiente fica a 30 metros de distância dos berçários.
                    Temos também uma sala de soltura, onde soltamos nossas aves após a temporada, para que possam mudar em bando, se exercitarem e interagirem entre si.
                    Além desses ambientes, temos um espaço reservado a filhotas para reposição do plantel.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                  <h4>Genéticas:</h4>
                  <p>Nosso plantel é bem enxuto e composto pelas principais genéticas do Brasil,
                    dentre elas destacam-se: Matuto, Xodó, Dragão, Soberano,
                    Prorrogação, Sentinela e Euros.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                  <h4>Manejo:</h4>
                  <p>Nossos filhotes são anilhados aos 05 dias de nascidos,
                    em seguida são transferidos para os berçários acústicos,
                    que ficam a 30 metros de distância do ambiente de reprodução,
                    onde serão vetorizados até completarem 35 dias, quando são
                    apartados. Após separá-los, os machos são encaminhados para
                    outra sala acústica onde ficam em observação até completarem
                    45 dias, a partir daí,  entregamos aos clientes. As filhotas
                    vão para outro ambiente.</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 ml-auto" data-aos="fade-left">
            <div class="tab-content">
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="/images/estrutura.jpeg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="/images/curioacai.jpeg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="/images/manejo.jpeg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Pagamento Section ======= -->
    <section id="pagamento" class="pagamento">
      <div class="container">

        <div class="row">
          <div>
              <h1>CRIADOURO CAMARAGIBE</h1><br>
              <p>* SOMOS CRIADOURO COMERCIAL;</p>
              <p>* PÁSSAROS COM NOTA FISCAL;</p>
              <p>* PRINCIPAIS LINHAGENS DO BRASIL;</p>
              <p>* FILHOTES A PARTIR DE 45 DIAS.</p><br><br>
            <h1 class="pagCartao"><i>ACEITAMOS TODOS OS CARTÕES DE CRÉDITO</i></h1>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contato</h2>
          <p>Entre em contato ou nos faça uma visita.</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localição:</h4>
                <p>R. Praia, Passo de Camaragibe - AL, 57930-000</p>
              </div>
              <br>

              <div class="instagram">
                <i class="bi bi-instagram"></i>
                <h4>Instagram:</h4>
                <p><a href="https://instagram.com/criadourocamaragibe">Instagram/criadourocamaragibe</a></p>
              </div>

              <div class="phone mt-4">
                <i class="bi bi-phone"></i>
                <h4>Telefone/Whatsapp:</h4>
                <p>(82) 99301-2564</p>
              </div>

            </div>

          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3937.2500915446626!2d-35.41571048467806!3d-9.31109459958179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7011d09685e8a2f%3A0x33b86391ce1c50d1!2sCriadouro%20Camaragibe!5e0!3m2!1spt-BR!2sbr!4v1655320554478!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>
</html>